.accessPage {
    background-image: url('../assets/img/bg_login.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;

    .link {
        font-size: 1.2rem;
        line-height: 4.8rem;
        text-decoration: none;
        color: rgb(161, 164, 178);
        display: flex;
        justify-content: center;
        padding-bottom: 20%;
    
        span {
            color: rgb(102, 136, 170);
        }
    }
}