.backButton {
    background-image: url('../assets/img/Arrow_with_border.svg');
    background-position: center;
    background-color: #ffffff;
    padding: 5%;
    border-radius: 50%;
    border-color: #FAF2DA;
}