.daily_calm_section {
    background-image: url("../assets/img/daily_calm.png");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 3rem 2.5rem;
    display: flex;
    justify-content: space-between;
}