.category_container {
    display: flex;
    overflow: scroll;
    margin-bottom: 50px;

    .button_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        margin-bottom: 20px;

        .category_button {
            border: 0;
            background-color: transparent;
        }
    }
}

.gallery_container_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 47.5%);
    grid-auto-rows: 5px;
    gap: 20px;
    margin-top: 2rem;
    justify-content: space-evenly;
}

.thumbnailSmall {
    grid-row: span 7;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    padding: 1.4rem;
}


.thumbnailMedium {
    grid-row: span 12;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    padding: 1.4rem;

}

.thumbnailLarge {
    grid-row: span 14;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    padding: 1.4rem;
}