.galleryGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 47%);
    grid-auto-rows: 5px;
    gap: 20px;
    margin-top: 2rem;
    justify-content: space-evenly;
}

.thumbnailSmall {
    grid-row: span 7;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    padding: 1.4rem;
}
.thumbnailMedium {
    grid-row: span 13;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    padding: 1.4rem;
}
.thumbnailLarge {
    grid-row: span 15;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    padding: 1.4rem;
}

