.home_item {
    background-color: aqua;
    min-width: 170px;
    max-width: 170px;
    padding: 60px 10px 20px 15px;
    border-radius: 15px;

    .home_item_bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .home_item_headline {
        margin-bottom: 50px;
    }

    .home_topItem_btn {
        width: 70px;
        border: transparent;
        border-radius: 20px;
        font-size: 1rem;
        background-color: #FAF2DA;
        color: #4A503D;
        padding: 10px 10px;
    }
}