.home_item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 170px;
    max-width: 170px;
    padding: 60px 10px 20px 15px;
    border-radius: 15px;

    .home_item_bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .home_item_headline {
        color: #FFECCC;
        text-transform: capitalize;
        font-family: 'SourceSansProBlack';
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
    }

    .home_item_level {
        color: #FFECCC;
        text-transform: uppercase;
        padding-top: 10px;
        margin-bottom: 40px;
    }

    .home_topItem_btn {
        width: 70px;
        border: transparent;
        border-radius: 20px;
        font-size: 1rem;
        background-color: #FAF2DA;
        color: #4A503D;
        padding: 10px 10px;
        margin-left: 95%;
    }
}