.homeItemContainer {
    background-position: center;
    background-size: cover;
    min-width: 17rem;
    max-width: 17rem;
    padding: 50px 10px 20px 10px;
    border-radius: 1.5rem;
    .title {
        color: rgb(250, 242, 218);
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
    }
    .level {
        font-size: 1.4rem;
        color: rgb(250, 242, 218);
        padding: 1vh 0;
    } 
    .homeItemBtn {
        text-align: right;
        .startBtn {
            width: 70px;
            border-radius: 1.5rem;
            font-size: 1rem;
            background-color: rgb(250, 242, 218);
            color: rgb(61, 96, 129);
            padding: 10px 10px;
            margin-top: 2vh;
            text-transform: uppercase;
        }
    } 
}