.home_start_section {
    margin: 0 0 27% 4%;
}

.welcome_article {
    margin: 7% 0 6% 4%;
}



.homeTopItem_container {
    margin-right: 4%;
    display: flex;
    justify-content: space-between;
    max-width: 400px;
}



.recommended-hdl {
    padding-bottom: 3.5%;
}