.backBtn_container {
    padding: 5vh 0 6vh 5vw;
}

.login-container {
    background-image: url('../assets/img/bg_login.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

.login-form {
    margin-top: 15%;
}

.Link {
    text-decoration: none;
    color: #A1A4B2;
    display: flex;
    justify-content: center;
    padding-bottom: 20%;

    span {
        color: #E28F83
    }
}

.errorMessage {
    text-align: center;
    color: red;
    display: flex;
    justify-content: center;
}