  .player {
    position: fixed;
    width: 24.3rem;
    bottom: 50px;
    left: 0;
  }
  .PlaylistResult {
    display: flex;
    align-items: center;
    justify-content: left;
    text-transform: capitalize;
  }
  .playlist-cover {
    margin-left: .2rem;
    padding: .3rem;
  }
  .playlist-title {
    font-size: .9rem;
    width: 50%;
    text-align: left;
    padding-left: .7rem;
  }
  ._ControlsRSWP.__11aa6ep {
    height: 24vh;
    width: 36rem;
  }
  .slider__range {
    height: 3rem;
    color: red;
  }
  .rswp__active._InfoRSWP.__1jmym9x {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    width: 31rem;
    height: 27rem;
  }
  .rswp__active._InfoRSWP.__1jmym9x img {
    height: 16rem;
    width: 16rem;
    border-radius: 1rem;
    margin: 1.2rem;
  }
  .rswp__active._InfoRSWP.__1jmym9x a {
    text-align: center;
    font-size: 1.30rem;
    margin-top: -1vh;
  }
  ._ContentWrapperRSWP.__1c53jt9 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 50rem;
  }
  ._ContentWrapperRSWP.__1c53jt9 ._ContentRSWP.__mdrp5m {
    display: flex;
    flex-direction: column;
  }
  ._ContentRSWP.__mdrp5m {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
  }
  ._ContentWrapperRSWP.__1c53jt9  {
    height: 100vh;
    width: 100vw;
    margin-left: -2vw;
  }
  .rswp__toggle._ControlsButtonRSWP.__3hmsj {
    width: 5rem;
    height: 5rem;
  }
  .rswp__toggle._ControlsButtonRSWP.__3hmsj svg {
    width: 4rem;
    height: 4rem;
    background-size: cover;
  }
  ._ControlsButtonRSWP.__3hmsj {
    background-size: cover;
    margin: 7px;
  }
  ._WrapperRSWP.__1g3et1y {
    background-image: url('../assets/img/popup-background.svg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    // z-index: -1;
  }
  ._SliderRSWP.__q14q70 {
    margin-top: 2rem;
  }