nav {
    background-color: #fff;
    height: 8rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    position: fixed;
    bottom: 0;
    margin-top: 10rem;
}

.iconcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 46px;
    height: 46px;
    color: #A1A4B2;
}

.linkscontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.link-text {
    color: #A1A4B2;
    text-transform: capitalize;
}

.link-text.active {
    color: rgb(102, 136, 170);
}

a {
    text-decoration: none;
}