.navcontainer {
    height: 100px;
    width: 100vw;
    display: flex;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.iconcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 46px;
    height: 46px;
    color: #A1A4B2;
}

.linkscontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.link-text.active {
    color: #E28F83;
}

.link-text {
    color: #A1A4B2;
}