.popup {
    height: 100vh;
    transform: translateY(-72.5rem);

.pop-inner {
    background-color: #fff;
}

.xBtn {
    position: relative;
    cursor: pointer;
    z-index: 6;
    transform: translateY(9rem);
    padding-left: 3rem;
}

}
