.reminderPage {
    text-align: center;
    .text {
        font-size: 1.6rem;
    }
    .timePicker {
        padding: 4rem 0;
    }
    .weekdays {
        padding: 4rem 0;
    }
    .reminderBtn {
        margin: 4rem 0;
    }
    #later {
        background-color: transparent;
        color: rgb(102, 136, 170)
    }
}

.react-ios-time-picker-main {
    .react-ios-time-picker-input {
        text-align: center;
    }
}

.react-ios-time-picker {
    .react-ios-time-picker-container {
        background-color: rgb(254, 252, 248);
    }
    .react-ios-time-picker-selected-overlay {
        background-color: rgba(102, 136, 170, 0.6);
    }
    .react-ios-time-picker-btn-container {
        background-color: rgb(254, 252, 248);
    }
    .react-ios-time-picker-btn {
        color: rgb(61, 96, 129);
    }
    .react-ios-time-picker-cell-inner-hour-format:hover {
        background-color: rgb(61, 96, 129);
    }
    .react-ios-time-picker-cell-inner-hour:hover,
    .react-ios-time-picker-cell-inner-minute:hover,
    .react-ios-time-picker-cell-inner-hour-format:hover {
    background-color: rgb(61, 96, 129);
    color: rgb(254, 252, 248);
    }
}

.react-ios-time-picker-popup {
    margin-bottom: 45vh;
}
