.signUp-container {
    background-color: #FFFFFF;
    padding-top: 15vh;
    background-image: url('../assets/img/bg_login.jpg');
    background-repeat: no-repeat;
}

.signup-form {
    margin-top: 15%;
}

.Link {
    text-decoration: none;
    color: #A1A4B2;
    display: flex;
    justify-content: center;
    padding-bottom: 20%;

    span {
        color: #E28F83
    }
}