
.spotify-login-div  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url('../assets/img/spotify-background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.playlist-h1 {
    text-align: center;
    font-size: 2.2rem;
    padding: 0 2rem;
    color: #fff;
    height: 22vh;
    text-shadow: 2px 2px 5px #000;
}

.playlist-p {
    margin: 0 20px;
    text-align: center;
    color: #fff;
    height: 10vh;
    text-shadow: 2px 1.2px 2px #000;
}

.playbtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateX(10rem);
    height: 10vh;
}

.playlist-play-btn {
    width: 4.3rem;
    height: 4.3rem;
    transform: translateY(30rem);
    margin-right: 42rem;
}

.playlist-information {
    transform: translateY(3rem);
    margin-right: 40rem;
}


.spotifyBtn {
    width: 20rem;
    transform: translateY(-17rem);
}