.welcomePage {
    background-image: url('../assets/img/yoga_women.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 85vh; 
    .logo {
        color: rgb(254, 252, 248);
        padding: 2rem auto;
    }
    .pageHeadline {
        color: rgb(254, 252, 248);
        margin: 5%;
        width: 40%;
    }
} 
