.welcome_section {
    background-image: url('../assets/img/yoga_women.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 80vh;
    min-width: 390px;
    max-width: 400px;
    margin: 0 auto;
}

.welcome_text_container {
    margin-bottom: 83%;
}

.welcome_text {
    color: #FEFCF8;
    font-size: 3rem;
    width: 40%;
    padding: 10% 0 10% 5%;
}

.welcome {
    margin-top: 40px;
}